@font-face {
  font-family: 'Noto Sans KR';
  src: url('/fonts/NotoSansKR-VariableFont_wght.woff2');
}

@font-face {
  font-family: 'Dela Gothic One';
  src: url('/fonts/DelaGothicOne-Regular.woff2');
}

@font-face {
  font-family: 'Jacques Francois';
  src: url('/fonts/JacquesFrancois-Regular.woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-VariableFont_wght.woff2');
}

@font-face {
  font-family: 'Gowun Dodum';
  src: url('/fonts/GowunDodum-Regular.woff2');
}

@font-face {
  font-family: 'Actor';
  src: url('/fonts/Actor-Regular.woff2');
}
